p{
    color: white;
    
}
body{
    background-image: url(https://marcusjohannes.files.wordpress.com/2013/05/hd-wallpaper-marc-j-1002-copy.jpg);
    background-repeat:no-repeat;
    background-size:100%;
}
a{
    color: white;
}
h1{
    color:white;
}
