p{
    color: white;
    
}
body{
    background-image: url(http://www.pauldingcountyareafoundation.net/static/img/content/10-free-renaissance-tumblr-backgrounds.jpeg);
    background-repeat:no-repeat;
    background-size:100%;
}
a{
    color: white;
}
ul{
    color:white;
}
h1{
    color:white;
}
